<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">курсы по ноде</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Главная страница</a></li>
        <li><a href="/ku">страница курсов</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>