<h1>корзина</h1>
{{#if courses.lenght}}

<table>
    <thead>
        <tr>
            <th>название</th>
            <th>количество</th>
             <th>действия</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{{else}}
<p>корзина пустая</p>
{{/if}}