<h1>корзина</h1>

 
<table>
    <thead>
        <tr>
            <th>картинка</th>
            <th>название</th>
            <th>количество</th>
             <th>действия</th>

        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td><img class="img_card" src={{img}} alt="ds"/></td>
            <td>{{name}}</td>
            <td>{{count}}</td>
            <
            <td><button>удалить</button></td>
        </tr>
    </tbody>
    
    {{/each}}
</table>
<p>{{price}}</p>
